name: Build Custom VESC Firmware

on:
  workflow_dispatch:
  schedule:
    - cron: '0 */6 * * *'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout builder repo
        uses: actions/checkout@v3

      - name: Get latest official tag
        id: latest
        run: |
          TAG=$(git ls-remote --tags https://github.com/vedderb/bldc.git \
          | grep -o 'v[0-9].*' \
          | sort -V \
          | tail -n1)
          echo "tag=$TAG" >> $GITHUB_OUTPUT

      - name: Check if already built
        id: check
        run: |
          git clone https://github.com/Foujiwara/rfp_fw_archive.git archive || true
          if [ -d "archive/${{ steps.latest.outputs.tag }}" ]; then
            echo "exists=true" >> $GITHUB_OUTPUT
          else
            echo "exists=false" >> $GITHUB_OUTPUT
          fi

      - name: Stop if already built
        if: steps.check.outputs.exists == 'true'
        run: |
          echo "Version already compiled. Stopping."
          exit 0

      - name: Clone official firmware
        run: |
          git clone --depth 1 --branch ${{ steps.latest.outputs.tag }} \
          https://github.com/vedderb/bldc.git official

      - name: Patch Blackmagic for GCC 10+
        run: |
          sed -i '/#include "exception.h"/a #include <inttypes.h>' bldc/blackmagic/target/adiv5.c

      - name: Inject custom hwconf
        run: |
          cp custom_hwconf/* official/hwconf/

      - name: Install ARM GCC 9 (compatible VESC)
        run: |
          sudo apt update
          sudo apt install -y wget tar make
          wget https://developer.arm.com/-/media/Files/downloads/gnu-rm/9-2019q4/gcc-arm-none-eabi-9-2019-q4-major-x86_64-linux.tar.bz2
          tar -xjf gcc-arm-none-eabi-9-2019-q4-major-x86_64-linux.tar.bz2
          echo "$PWD/gcc-arm-none-eabi-9-2019-q4-major/bin" >> $GITHUB_PATH


      - name: Build custom hardware
        run: |
          mkdir -p output/${{ steps.latest.outputs.tag }}
          cd official

          # Affiche les boards supportées (debug utile)
          make

          for file in ../custom_hwconf/hw_*.h; do
            name=$(basename "$file" .h)
            board=${name#hw_}

            echo "Building board: $board"

            make clean
            make $board

            # Copie le firmware généré
            cp build/*.bin ../output/${{ steps.latest.outputs.tag }}/${board}-${{ steps.latest.outputs.tag }}.bin
          done



      - name: Push to archive
        uses: peaceiris/actions-gh-pages@v3
        with:
          external_repository: Foujiwara/rfp_fw_archive
          publish_dir: ./output
          publish_branch: main
          personal_token: ${{ secrets.ARCHIVE_TOKEN }}
