name: PROOF WORKFLOW

on:
  workflow_dispatch:

jobs:
  proof:
    runs-on: ubuntu-latest
    steps:
      - name: PROOF STEP
        run: |
          echo "=============================="
          echo "THIS IS THE NEW WORKFLOW"
          echo "DATE: $(date)"
          echo "=============================="
          exit 0
